# Official Python language image.
test_py39:
  image: python:3.9
  stage: test
  before_script:
    - python -v
    - pip install --upgrade pytest-cov wheel pip virtualenv build twine
    - pip install -e .

  script:
    - pytest --verbose

deploy:
  image: google/cloud-sdk:alpine
  stage: deploy
  only:
    - staging
  script:
    - gcloud auth activate-service-account --key-file=$GOOGLE_CLOUD_BUILD_SERVICE_KEY
    - gcloud config set project $GOOGLE_CLOUD_PROJECT_ID
    - gcloud builds submit --config=cloudbuild.yaml .