[tool.poetry]
name = "MathText_FastAPI"
version = "0.0.1"
authors = [
  "Sebastian Larsen <sebastianlarson22@gmail.com>",
  "Çetin ÇAKIR <cetincakirtr@gmail.com>",
  "Hobson Lane <gitlab@totalgood.com>",
  "Greg Thompson <greg+pypi@tangibleai.com>",
  ]
description = "Natural Language Understanding (text processing) for math symbols, digits, and words with a Gradio user interface and REST API."
readme = "README.md"
# requires-python = ">=3.8"
license = "AGPL-3.0-or-later"
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "License :: OSI Approved :: GNU Affero General Public License v3 or later (AGPLv3+)",
    "Operating System :: OS Independent",
]


[tool.poetry.dependencies]
# FIXME: We should always load the main branch (not Vlad) branch of mathactive here:
fuzzywuzzy = "*"
transitions = "*"
openpyxl = "*"
psycopg2 = "*"
asyncpg = "*"
python-Levenshtein = "*"

mathactive = "0.0.13"
mathtext = "0.0.13"
fastapi = "*"
# python = ">=3.9.16" # tested on hobson's virtualenv on linux
python = ">=3.8"
redis = "*"
requests = "*"
httpx = "<0.22,>=0.19"
# supabase = "*"
uvicorn = "*"
sqlalchemy = "*"
'sentry_sdk[fastapi]' = "*"

# # Installed by mathtext!!
# pydantic = "*"
# sentencepiece = "*"  # included in sentencetransformers or transformers
# pandas = "*"
# scipy = "*"

[tool.poetry.dependencies.en_core_web_sm]
url = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1.tar.gz"

# TODO: Add a pytest section doctest: +ELLIPSIS
[tool.pytest.ini_options]
addopts = "--doctest-modules"


[tool.poetry.group.dev.dependencies]
pytest = "*"
toml = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

# [build-system]
# requires = ["hatchling"]
# build-backend = "hatchling.build"

# repository = "https://gitlab.com/tangibleai/community/mathtext-fastapi"
