# dill
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
fuzzywuzzy
# jsonpickle
mathactive==0.0.8
mathtext==0.0.8
fastapi
pydantic
requests
sentencepiece
openpyxl
python-Levenshtein
sentence-transformers
sentry-sdk[fastapi]
supabase
toml
transitions
uvicorn
pandas
scipy
Unidecode