name: Build and push container
on:
  push:
    branches: [staging, production]
jobs:
  build-container:
    name: Build image
    runs-on: ubuntu-latest

    env:
      PROJECT_ID: ${{ secrets.GOOGLE_CLOUD_PROJECT_ID }}
      ARTIFACT_REPOSITORY: ${{ secrets.GOOGLE_CLOUD_ARTIFACT_REPOSITORY }}
      IMAGE_NAME: ${{ github.ref == 'refs/heads/production' && 'rori-answer-api' || 'rori-answer-api-staging' }}
      TAG: latest

    steps:
      # Check out repository under GITHUB_WORKSPACE
      - name: Checkout
        uses: actions/checkout@v2

      # Setup gcloud CLI for GitHub Actions
      - uses: google-github-actions/setup-gcloud@v0
        with:
          service_account_key: ${{ secrets.GOOGLE_CLOUD_BUILD_SERVICE_KEY }}
          project_id: ${{ env.PROJECT_ID }}
          export_default_credentials: true

      # Build docker image and rename
      - name: Build Image
        run: |
          docker build -t local_container -f Dockerfile .
          docker tag local_container europe-west1-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.ARTIFACT_REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}

      # Configure docker to use the gcloud command-line tool as a credential helper
      - run: |
          gcloud auth configure-docker europe-west1-docker.pkg.dev -q

      # Push image to Google Container Registry
      - name: Push Image
        run: |
          docker push europe-west1-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.ARTIFACT_REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}
